.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57eebce4b7662 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57eebce4b7662 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57eebce4b7662 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57eebce4b7662 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57eea6bae8af1 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
.fl-node-57eea6bae8af1 .fl-row-content {max-width: 1270px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f3fa5f541a4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f3fa5f541a4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f3fa5f541a4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f3fa5f541a4 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3fa5f541a4 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f6b8e8b232f .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f6b8e8b232f .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f6b8e8b232f .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f6b8e8b232f > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b8e8b232f > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f6bb330b839 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f6bb330b839 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f6bb330b839 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f6bb330b839 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6bb330b839 > .fl-row-content-wrap {padding-top: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f3faea75f84 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f3faea75f84 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f3faea75f84 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f3faea75f84 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3faea75f84 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-589509f338b88 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-589509f338b88 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-589509f338b88 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-589509f338b88 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-589509f338b88 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57fd6fce35aaf .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57fd6fce35aaf .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57fd6fce35aaf .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57fd6fce35aaf > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f3f9f4dddcd .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f3f9f4dddcd .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f3f9f4dddcd .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f3f9f4dddcd > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f3fabbc744e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f3fabbc744e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f3fabbc744e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f3fabbc744e > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f3fa0d96ad1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f3fa0d96ad1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f3fa0d96ad1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f3fa0d96ad1 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-588ef691ace0e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-588ef691ace0e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-588ef691ace0e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-588ef691ace0e > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-588ef691ace0e > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5a3d51c34d9f0 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a3d51c34d9f0 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a3d51c34d9f0 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a3d51c34d9f0 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5a3d51c34d9f0 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5ce312cdb7eaf .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5ce312cdb7eaf .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5ce312cdb7eaf .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5ce312cdb7eaf > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ce312cdb7eaf > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-58928a32217aa .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-58928a32217aa .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-58928a32217aa .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-58928a32217aa > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58928a32217aa > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57f6e7328c884 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57f6e7328c884 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57f6e7328c884 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57f6e7328c884 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eebce4befd6 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f54a4615062 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eea6baed7db {width: 100%;}
.fl-node-57eea6baed7db > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa060172746f {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa060a9af6eb {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa060a9af72a {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa060e15f748 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f40f44a303d {width: 50%;}
.fl-node-57f40f44a303d > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f40f44a303d {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-57f40f44a3090 {width: 50%;}
.fl-node-57f40f44a3090 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f40f44a3090 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-57f42fa2a3217 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa06365e406c {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f43762811b1 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f596b890bb0 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f595c262318 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b17a80a87 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3fa5f55984 {width: 100%;}
.fl-node-57f3fa5f55984 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f40f1dad522 {width: 50%;}
.fl-node-57f40f1dad522 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f40f1dad522 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-57f40f1dad569 {width: 50%;}
.fl-node-57f40f1dad569 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f40f1dad569 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-57f6b4cd07ee2 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b92b0fb85 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b8e8c383b {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b922a791a {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6dc6a4b920 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6bb331cf3c {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3faea7687d {width: 100%;}
.fl-node-57f3faea7687d > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f4136b646b0 {width: 50%;}
.fl-node-57f4136b646b0 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f4136b646b0 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-57f4136b646f0 {width: 50%;}
.fl-node-57f4136b646f0 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-57f4136b646f0 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-589509f33a542 {width: 50%;}
.fl-node-589509f33a542 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-589509f33a5b7 {width: 50%;}
.fl-node-589509f33a5b7 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58950a5f5c5a3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57fd6fce4b250 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57fd6fe49e511 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3f9f4e7fdf {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6dd5b087ca {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3fabbc794c {width: 100%;}
.fl-node-57f3fabbc794c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6dfb0797ee {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6dfc9272ce {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6e0ef12b1c {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e8a7812d44 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e8a7f96ff4 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e95e4061c0 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e95e406204 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e93fdc7e06 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e8a6f4e08f {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580e8a6f4e0dc {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f3fa0d96fab {width: 100%;}
.fl-node-57f3fa0d96fab > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-588ef691ae68b {width: 100%;}
.fl-node-588ef691ae68b > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5892896659098 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-588ef691ae783 {width: 50%;}
.fl-node-588ef691ae783 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-588ef691ae783 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-588ef691ae839 {width: 50%;}
.fl-node-588ef691ae839 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-588ef691ae839 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-589289b21218f {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5a3d51c34f90d {width: 100%;}
.fl-node-5a3d51c34f90d > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5a3d51c34fa87 {width: 50%;}
.fl-node-5a3d51c34fa87 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5a3d51c34fa87 {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-5a3d51c34fb2c {width: 50%;}
.fl-node-5a3d51c34fb2c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {.fl-builder-content .fl-node-5a3d51c34fb2c {width: 100% !important;max-width: none;clear: none;float: left;}}
.fl-node-5a3d51c34fc09 {width: 100%;}
.fl-node-5a3d51c34fc09 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ce312cdb8493 {width: 100%;}
.fl-node-5ce312cdb8493 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ce312cdb84a9 {width: 100%;}
.fl-node-5ce312cdb84a9 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58928a688dafe {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58928a32c20bb {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58928aca07719 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6e732a5396 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6e8856a6ec {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6e88c14ac5 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b272393b7a {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eeaa9e7df9e > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 10px;}
.fl-node-57eeac1293661 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57eea729e3370 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57f6b15fbfd6d > .fl-module-content {margin-top: 0px;}
.fl-node-57eead50d397f > .fl-module-content {margin-top: 0px;}
.fl-node-57fe806256954 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eeaea272a96 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57fe80a865696 > .fl-module-content {margin-top: 0px;margin-bottom: 10px;}
.fl-node-57fe802383c27 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57f6d4139364e > .fl-module-content {margin-top: 10px;margin-bottom: 10px;}
.fl-node-57fe80f25790f > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6d601a77da > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57fe84f60b1b1 > .fl-module-content {margin-top: 0px;}
.fl-node-57fe85c396052 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57fe850ec1915 > .fl-module-content {margin-top: 0px;}
.fl-node-57fe84b9a8182 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5aa061bdea6da > .fl-module-content {margin-bottom: 0px;}
.fl-node-57f6cbf3a1858 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6b1231c894 > .fl-module-content {margin-top: 0px;}
.fl-node-57eee5429db00 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5aa0668fe25f1 > .fl-module-content {margin-top: 0px;}
.fl-node-57eee7894a9bb > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eee81587c01 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eee8c48c7eb > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eead84a1f8d > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eee24891d3e > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eee2646c96a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f42fa2a2533 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5aa0665a876ba > .fl-module-content {margin-top: 0px;}
.fl-node-5aa06370c302b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f4376280b04 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5aa06359e782f > .fl-module-content {margin-top: 0px;}
.fl-node-5dcdb79b8ca02 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5dcdb82d1c90b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5dcdb8c4ad828 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5dcdb790182f2 > .fl-module-content {margin-top: 0px;}
.fl-node-57f58942337a1 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f58f585c3a7 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5dcdb9747c391 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5dcdb87477e24 > .fl-module-content {margin-top: 0px;}
.fl-node-57f5887667dad > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6b0cf38d55 > .fl-module-content {margin-top: 0px;}
.fl-node-57eeec382c809 > .fl-module-content {margin-top: 0px;}
.fl-node-57eeebf817f79 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57f40f9f4a17b > .fl-module-content {margin-top: 0px;}
.fl-node-57f40fca0695d > .fl-module-content {margin-top: 0px;}
.fl-node-57f6b4cd072cc > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6b8dc3cb6a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6b90da01be > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-5895094341e57 > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-57f6dc5a55689 > .fl-module-content {margin-top: 10px;margin-bottom: 10px;}
.fl-node-57f6bdfd3c4b5 > .fl-module-content {margin-top: 20px;}
.fl-node-57f3faea768ba > .fl-module-content {margin-top: 0px;}
.fl-node-57f3faea7692e > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-589509f33a57c > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-589509f33a5f1 > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-588efeea85d73 > .fl-module-content {margin-top: 20px;}
.fl-node-57fd7008495b3 > .fl-module-content {margin-top: 0px;}
.fl-node-57fd702823a4f > .fl-module-content {margin-bottom: 0px;}
.fl-node-57fd7982e3aca > .fl-module-content {margin-top: 0px;}
.fl-node-57fd72aabfb25 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57fd7c1a2d266 > .fl-module-content {margin-top: 0px;}
.fl-node-57ffdb7599249 > .fl-module-content {margin-top: 0px;}
.fl-node-57ffdbb29dd7b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5806b9be9d23e > .fl-module-content {margin-top: 0px;}
.fl-node-5806bad7a5627 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5806c300de7ba > .fl-module-content {margin-top: 10px;margin-bottom: 10px;}
.fl-node-57fd6fda688f3 > .fl-module-content {margin-top: 20px;margin-bottom: 10px;}
.fl-node-57eeed19c91f3 > .fl-module-content {margin-top: 0px;}
.fl-node-57f6dd5205004 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f3fabbc7985 > .fl-module-content {margin-top: 0px;}
.fl-node-57f3fabbc79bd > .fl-module-content {margin-top: 0px;}
.fl-node-57f6df9b672c0 > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-57f6e0dccbb51 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eeedfb70ae3 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-580e8ab80d81e > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-580e95e83bf97 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6e675dbc04 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-580e9459a49b8 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-580e8a05a8108 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-589289db55a75 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-588ef691ae6c6 > .fl-module-content {margin-top: 0px;}
.fl-node-588ef691ae70b > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6c047df097 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-58928ac07c999 > .fl-module-content {margin-top: 20px;}
.fl-node-5a3d51c34f935 > .fl-module-content {margin-top: 0px;}
.fl-node-5a3d51c34f970 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5a54247d317cc > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5a3d51c34fc40 > .fl-module-content {margin-top: 20px;}
.fl-node-5ce312cdb8495 > .fl-module-content {margin-top: 0px;}
.fl-node-5ce312cdb8497 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5ce312cdb849e > .fl-module-content {margin-top: 0px;}
.fl-node-5ce312cdb84a0 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5ce3162728b75 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5ce3160e50429 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5ce31af9b4512 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5ce312cdb84ab > .fl-module-content {margin-top: 20px;}
.fl-node-58928a688d11e > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57f6e49c9441d > .fl-module-content {margin-bottom: 0px;}
.fl-node-589289a184484 > .fl-module-content {margin-top: 20px;}
.fl-node-57f6e71a268de > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57eeee12d6a00 > .fl-module-content {margin-top: 20px;margin-bottom: 0px;}
.fl-node-57f6e879488df > .fl-module-content {margin-top: 0px;margin-bottom: 20px;}
.fl-node-57f6e84631fc9 > .fl-module-content {margin-top: 10px;margin-bottom: 10px;}
.toc ul {list-style: none;font-size: 18px;line-height: 1.75em;font-weight: bold;padding-left: 0;}
.toc ul small {font-weight: normal;}
.toc ul ul {padding-left: 10px;margin-left: 0px;font-size: 14px;font-weight: normal;}
.panel .list-group li a {position: relative;bottom: 5px;}