.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-560efa9337da4 {color: #423f42;}
.fl-builder-content .fl-node-560efa9337da4 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}
.fl-builder-content .fl-node-560efa9337da4 a {color: #423f42;}
.fl-builder-content .fl-node-560efa9337da4 a:hover {color: #423f42;}
.fl-builder-content .fl-node-560efa9337da4 h1, .fl-builder-content .fl-node-560efa9337da4 h2, .fl-builder-content .fl-node-560efa9337da4 h3, .fl-builder-content .fl-node-560efa9337da4 h4, .fl-builder-content .fl-node-560efa9337da4 h5, .fl-builder-content .fl-node-560efa9337da4 h6, .fl-builder-content .fl-node-560efa9337da4 h1 a, .fl-builder-content .fl-node-560efa9337da4 h2 a, .fl-builder-content .fl-node-560efa9337da4 h3 a, .fl-builder-content .fl-node-560efa9337da4 h4 a, .fl-builder-content .fl-node-560efa9337da4 h5 a, .fl-builder-content .fl-node-560efa9337da4 h6 a {color: #423f42;}
.fl-node-560efa9337da4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-560efa9337da4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-560efa9337da4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-560efa9337da4 > .fl-row-content-wrap {background-color: #edeef0;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa9337da4 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-560efa9337a9b .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-560efa9337a9b .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-560efa9337a9b .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-560efa9337a9b > .fl-row-content-wrap {background-color: rgba(34,41,48,.03);}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa9337a9b > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-561815c033683 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-561815c033683 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-561815c033683 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-561815c033683 > .fl-row-content-wrap {background-color: #edeef0;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5618419de338b {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa93375c5 {width: 60%;}
.fl-node-560efa93375c5 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa9337d14 {width: 40%;}
.fl-node-560efa9337d14 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa9337722 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-561815c08e8c6 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-560efa93382c5 > .fl-module-content {margin-bottom: 0px;}