.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-56381498d3b49 {color: #423f42;}
.fl-builder-content .fl-node-56381498d3b49 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}
.fl-builder-content .fl-node-56381498d3b49 a {color: #423f42;}
.fl-builder-content .fl-node-56381498d3b49 a:hover {color: #423f42;}
.fl-builder-content .fl-node-56381498d3b49 h1, .fl-builder-content .fl-node-56381498d3b49 h2, .fl-builder-content .fl-node-56381498d3b49 h3, .fl-builder-content .fl-node-56381498d3b49 h4, .fl-builder-content .fl-node-56381498d3b49 h5, .fl-builder-content .fl-node-56381498d3b49 h6, .fl-builder-content .fl-node-56381498d3b49 h1 a, .fl-builder-content .fl-node-56381498d3b49 h2 a, .fl-builder-content .fl-node-56381498d3b49 h3 a, .fl-builder-content .fl-node-56381498d3b49 h4 a, .fl-builder-content .fl-node-56381498d3b49 h5 a, .fl-builder-content .fl-node-56381498d3b49 h6 a {color: #423f42;}
.fl-node-56381498d3b49 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-56381498d3b49 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-56381498d3b49 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-56381498d3b49 > .fl-row-content-wrap {background-color: #edeef0;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d3b49 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-56381498d2a8e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-56381498d2a8e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-56381498d2a8e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-56381498d2a8e > .fl-row-content-wrap {background-color: rgba(34,41,48,.03);}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d2a8e > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-56381498d43b2 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-56381498d43b2 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-56381498d43b2 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-56381498d43b2 > .fl-row-content-wrap {background-color: #edeef0;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d4842 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d26e0 {width: 60%;}
.fl-node-56381498d26e0 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d3a97 {width: 40%;}
.fl-node-56381498d3a97 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d2853 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d27a8 {width: 100%;}
.fl-node-56381498d27a8 > .fl-col-content {border-color: #c2c2c2;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d44d4 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-56381498d3f14 > .fl-module-content {margin-bottom: 0px;}