.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5643bb163e987 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5643bb163e987 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5643bb163e987 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5643bb163e987 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5643bbb4810a6 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5643bbb4810a6 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5643bbb4810a6 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5643bbb4810a6 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5643b98269ee5 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5643b98269ee5 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5643b98269ee5 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5643b98269ee5 > .fl-row-content-wrap {background-color: #e8e8e8;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5643c014d9ac5 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5643c014d9ac5 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5643c014d9ac5 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5643c014d9ac5 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5643bc1963331 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5643bc1963331 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5643bc1963331 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5643bc1963331 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643bb165822c {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643bbb49865e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643b982799ad {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643b98279a66 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643c01542ab8 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643c0a635ea2 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643bc198a075 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5643ba86b3fc9 > .fl-module-content {margin-right: 40px;margin-left: 40px;}
@media (max-width: 768px) {.fl-node-5643ba86b3fc9 > .fl-module-content {margin-left: 20px;margin-right: 20px;}}
.fl-node-5643bacf80519 > .fl-module-content {margin-right: 40px;margin-left: 40px;}
@media (max-width: 768px) {.fl-node-5643bacf80519 > .fl-module-content {margin-left: 20px;margin-right: 20px;}}