.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b24706acea6 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b24706acea6 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b24706acea6 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b24706acea6 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b24706acea6 > .fl-row-content-wrap {padding-top: 20px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b6554c6f529 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b6554c6f529 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b6554c6f529 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b6554c6f529 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6554c6f529 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 20px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b6552e976e0 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b6552e976e0 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b6552e976e0 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b6552e976e0 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6552e976e0 > .fl-row-content-wrap {padding-top: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b4d96a30e81 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b4d96a30e81 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b4d96a30e81 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b4d96a30e81 > .fl-row-content-wrap {background-color: #337ab7;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b4ef297a747 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b4ef297a747 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b4ef297a747 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b4ef297a747 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57b4f01176c71 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57b4f01176c71 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57b4f01176c71 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57b4f01176c71 > .fl-row-content-wrap {background-color: #fff;border-color: rgba(20,0,0,.5);border-top-width: 2px;border-right-width: 2px;border-bottom-width: 2px;border-left-width: 2px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b4f01176c71 > .fl-row-content-wrap {margin-bottom: 60px;}
.fl-node-57b24706afbdb {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6554c76f3e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6552e9f5d2 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6552e9f611 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6552e9f64b {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6552e9f684 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b4d96a66805 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b4ef297f3b2 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b65719432fe {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b65728aba22 {width: 50%;}
.fl-node-57b65728aba22 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b5091ed143c {width: 50%;}
.fl-node-57b5091ed143c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b5091ed147f {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6547651859 {width: 50%;}
.fl-node-57b6547651859 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b654765188d {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b65c8d331a2 {width: 50%;}
.fl-node-57b65c8d331a2 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b65c8d331e2 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b66170369e6 {width: 50%;}
.fl-node-57b66170369e6 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b6617036a26 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa05338cb854 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5aa0567fcdd71 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57b249d3d34a0 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57b24706acb99 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57b2483458eaa > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-5aa04a676672a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5aa04a52ab6d8 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57b654b6aaee8 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57b6548545d15 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57b50926dd552 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b65758697f7 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b65c999df38 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b65e720cf03 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b6617977916 > .fl-module-content {margin-top: 10px;}
.fl-node-5aa05317a3e72 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57b65f8ad510d > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b61039467f0 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-57b661ef5bef1 > .fl-module-content {margin-top: 10px;}
.fl-node-5aa0567a72a66 > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
#top-secret-feature img {max-width: 150px;margin: 0 auto;}