.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d1c5919ce2a .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d1c5919ce2a .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d1c5919ce2a .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d1c5919ce2a > .fl-row-content-wrap {background-color: #140000;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1c5919ce2a > .fl-row-content-wrap {padding-top: 20px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d1cc12db9e8 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d1cc12db9e8 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d1cc12db9e8 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d1cc12db9e8 > .fl-row-content-wrap {background-color: #dedede;border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1cc12db9e8 > .fl-row-content-wrap {margin-top: 20px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d8912315e89 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d8912315e89 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d8912315e89 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d8912315e89 > .fl-row-content-wrap {border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d8912315e89 > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d1cf3aec01c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d1cf3aec01c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d1cf3aec01c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d1cf3aec01c > .fl-row-content-wrap {border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1cf3aec01c > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d9e42bc569f .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d9e42bc569f .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d9e42bc569f .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d9e42bc569f > .fl-row-content-wrap {border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e42bc569f > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d9ec7010a01 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d9ec7010a01 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d9ec7010a01 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d9ec7010a01 > .fl-row-content-wrap {background-color: #dedede;border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9ec7010a01 > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5bafb148d1b72 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5bafb148d1b72 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5bafb148d1b72 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5bafb148d1b72 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d9dfe2bf13f .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d9dfe2bf13f .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d9dfe2bf13f .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d9dfe2bf13f > .fl-row-content-wrap {border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9dfe2bf13f > .fl-row-content-wrap {margin-top: 20px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57d1c5919d076 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57d1c5919d076 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57d1c5919d076 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57d1c5919d076 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1c5919d076 > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57dc67e408f58 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57dc67e408f58 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57dc67e408f58 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57dc67e408f58 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc67e408f58 > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57dc7b2a4f8cb .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57dc7b2a4f8cb .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57dc7b2a4f8cb .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57dc7b2a4f8cb > .fl-row-content-wrap {background-color: #dedede;border-style: solid;border-width: 0;background-clip: border-box;border-color: #ccc;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc7b2a4f8cb > .fl-row-content-wrap {margin-top: 40px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5bafaf5f314bf .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5bafaf5f314bf .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5bafaf5f314bf .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5bafaf5f314bf > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-node-57d1c5919cee5 {width: 15%;}
.fl-node-57d1c5919cee5 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1c5919cf1d {width: 65%;}
.fl-node-57d1c5919cf1d > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1c5919cf1d > .fl-col-content {margin-top: 20px;margin-bottom: 0px;}
.fl-node-57d1c5919cf54 {width: 20%;}
.fl-node-57d1c5919cf54 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9df1a914bb {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1cc12e22e8 {width: 100%;}
.fl-node-57d1cc12e22e8 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1cc12e22e8 > .fl-col-content {margin-right: 20px;margin-left: 20px;}
.fl-node-57d9ead472ea5 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d89123164ae {width: 75%;}
.fl-node-57d89123164ae > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d891231651c {width: 25%;}
.fl-node-57d891231651c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e91e0b843 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e91e0b884 {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d892828a4c3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e42bc5e6c {width: 100%;}
.fl-node-57d9e42bc5e6c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e82237e0e {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9e82237e5a {width: 50%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9ec70111c7 {width: 100%;}
.fl-node-57d9ec70111c7 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9ec701126c {width: 100%;}
.fl-node-57d9ec701126c > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9ec701126c > .fl-col-content {margin-right: 20px;margin-left: 20px;}
.fl-node-5bafb148e0060 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9dfe2c0038 {width: 100%;}
.fl-node-57d9dfe2c0038 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9dfe2c0128 {width: 75%;}
.fl-node-57d9dfe2c0128 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9dfe2c019f {width: 25%;}
.fl-node-57d9dfe2c019f > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1c5919d0f2 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9f6ae97d87 {width: 52%;}
.fl-node-57d9f6ae97d87 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d9f6ae97dda {width: 48%;}
.fl-node-57d9f6ae97dda > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc67e4098cc {width: 100%;}
.fl-node-57dc67e4098cc > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc67e409972 {width: 50%;}
.fl-node-57dc67e409972 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc67e4099e0 {width: 50%;}
.fl-node-57dc67e4099e0 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc7b2a50171 {width: 100%;}
.fl-node-57dc7b2a50171 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc7b2a50223 {width: 100%;}
.fl-node-57dc7b2a50223 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57dc7b2a50223 > .fl-col-content {margin-right: 20px;margin-left: 20px;}
.fl-node-5bafaf5f3f53d {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57d1cac80c116 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-57d3422c24379 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-57d1cd68875d3 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57d9d61c5b8b7 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d9d6386415f > .fl-module-content {margin-top: 0px;}
.fl-node-57d9e9f5578b2 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d9ea009c9b2 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d892c4ea864 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57d9e42bc5ee3 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57d9e8f40eb23 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d9e8bf0e6d5 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d9ec70112a3 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5bafb11cd3fb7 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-57d9dfe2c00b1 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57d9dfe2c01db > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-57d9dfe2c0164 > .fl-module-content {margin-right: 0px;margin-left: 0px;}
.fl-node-57dc758197e8d > .fl-module-content {margin-top: 0px;}
.fl-node-57dc7b2a5025d > .fl-module-content {margin-bottom: 0px;}
.fl-node-5bafaf4a0a9c0 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-col-small {max-width: none !important;}