.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e07adfe5ec1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e07adfe5ec1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e07adfe5ec1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e07adfe5ec1 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e07adfe5ec1 > .fl-row-content-wrap {padding-top: 20px;padding-bottom: 20px;}
.fl-node-5903bcb10ffc7 {width: 10%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-59038f2768dee {width: 30%;}
.fl-node-59038f2768dee > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ad36efd60 {width: 30%;}
.fl-node-5903ad36efd60 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ad36efdaa {width: 30%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e07adfe5dac {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-59038f2dc665a.fl-module-heading .fl-heading {text-align: left;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-59038f2dc665a > .fl-module-content {margin-bottom: 10px;}
.fl-node-590392655d51d .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ad4bf1c6b.fl-module-heading .fl-heading {text-align: left;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ad4bf1c6b > .fl-module-content {margin-bottom: 10px;}
.fl-node-5903ad5d0c4b2 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ae79a2a7f.fl-module-heading .fl-heading {text-align: left;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5903ae79a2a7f > .fl-module-content {margin-bottom: 10px;}
.fl-node-5903ae9eca937 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e07adfe5de5 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e07adfe5de5 > .fl-module-content {margin-bottom: 0px;}
.footer-list ul {list-style: none;padding-left: 0;}
.footer-list-icons ul {padding-left: 30px;}
.footer-list ul li {margin-bottom: 10px;font-size: 16px;}
.footer-list-icons ul li {text-indent: -14px;}
.footer-list ul li a {color: #fff;opacity: .9;}
.footer-list-icons ul li i {margin-right: 10px;}