.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58a3652aaa .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58a3652aaa .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58a3652aaa .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58a3652aaa > .fl-row-content-wrap {border-style: solid;border-width: 0;background-clip: border-box;border-color: #d8d8d8;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58a3652aaa > .fl-row-content-wrap {margin-top: 30px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58cdc89f7d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58cdc89f7d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58cdc89f7d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58cdc89f7d > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58cdc89f7d > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58c9b91858 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58c9b91858 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58c9b91858 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58c9b91858 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58e6eec7ef .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58e6eec7ef .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58e6eec7ef .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58e6eec7ef > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58e157a070 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58e157a070 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58e157a070 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58e157a070 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58ef23dc72 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58ef23dc72 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58ef23dc72 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58ef23dc72 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58ef23dc72 > .fl-row-content-wrap {padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57e58f0d596eb .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57e58f0d596eb .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57e58f0d596eb .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57e58f0d596eb > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-58f93fbb120e4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-58f93fbb120e4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-58f93fbb120e4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-58f93fbb120e4 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58b665fa64 {width: 75.87%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58b665fab3 {width: 24.13%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58cdc8e1a3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58c9b942f9 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58c9b94339 {width: 75%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58e6eecdc8 {width: 25%;}
.fl-node-57e58e6eecdc8 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58e6eece37 {width: 75%;}
.fl-node-57e58e6eece37 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58e157a61b {width: 25%;}
.fl-node-57e58e157a61b > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58e157a694 {width: 75%;}
.fl-node-57e58e157a694 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58ef23e0ef {width: 100%;}
.fl-node-57e58ef23e0ef > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58f0d59d74 {width: 25%;}
.fl-node-57e58f0d59d74 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58f0d59de4 {width: 75%;}
.fl-node-57e58f0d59de4 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58f93fbb12871 {width: 25%;}
.fl-node-58f93fbb12871 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-58f93fbb128de {width: 75%;}
.fl-node-58f93fbb128de > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57e58b8a66fe3 > .fl-module-content {margin-top: 30px;margin-bottom: 0px;}
@media (max-width: 768px) {.fl-node-57e58b8a66fe3 > .fl-module-content {margin-top: 20px;}}
.fl-node-57e58cdc88f2b > .fl-module-content {margin-bottom: 0px;}
.fl-node-57e58d54c53b0 > .fl-module-content {margin-bottom: 8px;}
.fl-node-57e58d67a01a5 > .fl-module-content {margin-top: 0px;}
.fl-node-57e58e6eece6e > .fl-module-content {margin-bottom: 8px;}
.fl-node-57e58e6eecea5 > .fl-module-content {margin-top: 0px;}
.fl-node-57e58e157a6cc > .fl-module-content {margin-bottom: 8px;}
.fl-node-57e58e157a739 > .fl-module-content {margin-top: 0px;}
.fl-node-57e58ef23e127 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57e58f0d59e1b > .fl-module-content {margin-bottom: 8px;}
.fl-node-57e58f0d59e52 > .fl-module-content {margin-top: 0px;}
.fl-node-58f93fbb12914 > .fl-module-content {margin-bottom: 8px;}
.fl-node-58f93fbb1294b > .fl-module-content {margin-top: 0px;}
.team-pic img {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: inline-block;height: auto;line-height: 1.42857;max-width: 100%;padding: 4px;transition: all .2s ease-in-out 0s;cursor: zoom-in;}