.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-580facdcc79f0 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-580facdcc79f0 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-580facdcc79f0 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-580facdcc79f0 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-580fd27f663a3 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-580fd27f663a3 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-580fd27f663a3 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-580fd27f663a3 > .fl-row-content-wrap {background-color: #337ab7;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580fd27f663a3 > .fl-row-content-wrap {margin-bottom: 30px;}
.fl-node-580fd27f663a3 > .fl-row-content-wrap {padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5b2c38aec1562 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5b2c38aec1562 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5b2c38aec1562 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5b2c38aec1562 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580facdcc7b11 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580fd27f66570 {width: 100%;}
.fl-node-580fd27f66570 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5b2c38aec1788 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580facdcc7b4c .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-580facdcc7b4c > .fl-module-content {margin-bottom: 0px;}
.fl-node-580fd27f665a6 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-5b2c38aec17bf .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5b2c38aec17bf > .fl-module-content {margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.header-buttons {margin-top: 10px;}
.header-buttons .btn {margin: 20px 20px;}