.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-581bacf249da8 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-581bacf249da8 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-581bacf249da8 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-581bacf249da8 > .fl-row-content-wrap {background-color: #393b45;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bacf249da8 > .fl-row-content-wrap {padding-top: 20px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-581b856c78834 {color: #fff;}
.fl-builder-content .fl-node-581b856c78834 *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}
.fl-builder-content .fl-node-581b856c78834 a {color: #fff;}
.fl-builder-content .fl-node-581b856c78834 a:hover {color: #fff;}
.fl-builder-content .fl-node-581b856c78834 h1, .fl-builder-content .fl-node-581b856c78834 h2, .fl-builder-content .fl-node-581b856c78834 h3, .fl-builder-content .fl-node-581b856c78834 h4, .fl-builder-content .fl-node-581b856c78834 h5, .fl-builder-content .fl-node-581b856c78834 h6, .fl-builder-content .fl-node-581b856c78834 h1 a, .fl-builder-content .fl-node-581b856c78834 h2 a, .fl-builder-content .fl-node-581b856c78834 h3 a, .fl-builder-content .fl-node-581b856c78834 h4 a, .fl-builder-content .fl-node-581b856c78834 h5 a, .fl-builder-content .fl-node-581b856c78834 h6 a {color: #fff;}
.fl-node-581b856c78834 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-581b856c78834 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-581b856c78834 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-581b856c78834 > .fl-row-content-wrap {background-color: #393b45;border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c78834 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 60px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-581b856c78b36 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-581b856c78b36 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-581b856c78b36 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-581b856c78b36 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c78b36 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 20px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-581baf82396ee .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-581baf82396ee .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-581baf82396ee .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-581baf82396ee > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581baf82396ee > .fl-row-content-wrap {padding-top: 20px;padding-bottom: 20px;}
.fl-node-581bacf249fdc {width: 100%;}
.fl-node-581bacf249fdc > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bacf249fdc > .fl-col-content {padding-right: 0px;padding-left: 0px;}
.fl-node-581b856c78a30 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c788b2 {width: 60%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c788ef {width: 40%;}
.fl-node-581b856c788ef > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c79534 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581baeabaa40f {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bafb57b15c {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581badcab9987 {width: 100%;}
.fl-node-581badcab9987 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bacf24a014 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bacf24a014 > .fl-module-content {margin-top: 0px;margin-right: 20px;margin-bottom: 0px;margin-left: 20px;}
@media (max-width: 768px) {.fl-module-icon {text-align: center;}}
.fl-node-581bacf24a04c .fl-module-content .fl-icon i, .fl-node-581bacf24a04c .fl-module-content .fl-icon i:before {color: #fff;}
.fl-node-581bacf24a04c .fl-module-content .fl-icon i, .fl-node-581bacf24a04c .fl-module-content .fl-icon i:before {font-size: 25px;}
.fl-node-581bacf24a04c .fl-module-content .fl-icon-text {height: 43.75px;}
.fl-node-581bacf24a04c.fl-module-icon {text-align: right;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581bacf24a04c > .fl-module-content {margin-top: 10px;margin-right: 20px;margin-bottom: 0px;margin-left: 20px;}
.fl-module-heading .fl-heading {padding: 0 !important;margin: 0 !important;}
.fl-node-581b856c789b1.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c789b1 > .fl-module-content {margin-top: 40px;margin-bottom: 40px;}
@media (max-width: 768px) {.fl-node-581b856c789b1 > .fl-module-content {margin-top: 20px;margin-bottom: 20px;}}
.fl-node-581b856c78a6d .fl-separator {border-top: 1px solid rgba(240,242,255,.15);max-width: 100%;margin: auto;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-embed-video iframe {max-width: 100%;}
.fl-wp-video {position: relative;height: 0;overflow: hidden;padding: 0 0 56.25%;}
.fl-wp-video .wp-video {position: absolute;top: 0;left: 0;width: 100% !important;height: 100% !important;}
.fl-wp-video .wp-video .mejs-container, .fl-wp-video .wp-video .mejs-inner, .fl-wp-video .wp-video .mejs-layers, .fl-wp-video .wp-video .mejs-layer, .fl-wp-video .wp-video-shortcode, .fl-wp-video .me-plugin, .fl-wp-video .me-plugin * {width: 100% !important;height: 100% !important;}
@media (max-width: 768px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c78971 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c78971 > .fl-module-content {margin-bottom: 10px;}
.fl-node-581b856c79420.fl-module-heading .fl-heading {text-align: center;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581b856c79420 > .fl-module-content {margin-bottom: 0px;}
.fl-node-581baf4e6bc19 .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581baf4e6bc19 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}
.fl-node-581badcab99bd .fl-rich-text strong {font-weight: bold;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-581badcab99bd > .fl-module-content {margin-top: 10px;margin-bottom: 0px;}
.fl-node-581badcab99f4 > .fl-module-content {margin-top: 0px;margin-bottom: 10px;}