.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57eebce4b7662 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57eebce4b7662 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57eebce4b7662 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57eebce4b7662 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-584b2072b8df1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-584b2072b8df1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-584b2072b8df1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-584b2072b8df1 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b2072b8df1 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-57eea6bae8af1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-57eea6bae8af1 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eea6bae8af1 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-584b203185f35 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-584b203185f35 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-584b203185f35 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-584b203185f35 > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b203185f35 > .fl-row-content-wrap {margin-top: 20px;}
.fl-node-584b203185f35 > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-584b02435aa8e .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-584b02435aa8e .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-584b02435aa8e .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-584b02435aa8e > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b02435aa8e > .fl-row-content-wrap {margin-top: 20px;}
.fl-node-584b02435aa8e > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-584b2164cc43a .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-584b2164cc43a .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-584b2164cc43a .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-584b2164cc43a > .fl-row-content-wrap {border-top-width: 1px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b2164cc43a > .fl-row-content-wrap {margin-top: 20px;}
.fl-node-584b2164cc43a > .fl-row-content-wrap {padding-top: 0px;padding-bottom: 0px;}
.fl-node-57eebce4befd6 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b2072bed9e {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eea6baed7db {width: 100%;}
.fl-node-57eea6baed7db > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b027f192bb {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b20318d259 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57f6b17a80a87 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b01c5b0982 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b2164ccac1 {width: 100%;}
.fl-node-584b2164ccac1 > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-584b2164ccb2e {width: 100%;}
.fl-node-584b2164ccb2e > .fl-col-content {border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-57eeaa9e7df9e > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 10px;}
.fl-node-57eeac1293661 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57eea729e3370 > .fl-module-content {margin-bottom: 0px;}
.fl-node-584a1211a21d2 > .fl-module-content {margin-top: 0px;}
.fl-node-57eead50d397f > .fl-module-content {margin-top: 0px;}
.fl-node-57eeaea272a96 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
@media ( max-width: 768px ) {.fl-node-57eeaea272a96.fl-module > .fl-module-content {margin-top: 0px;}}
.fl-node-584a0cb8b3f14 > .fl-module-content {margin-top: 0px;}
.fl-node-57fe80a865696 > .fl-module-content {margin-top: 0px;margin-bottom: 10px;}
.fl-node-57fe802383c27 > .fl-module-content {margin-bottom: 0px;}
.fl-node-599e5d3358b02 > .fl-module-content {margin-top: 0px;margin-bottom: 10px;}
.fl-node-599e5d25d0575 > .fl-module-content {margin-bottom: 0px;}
.fl-node-57f6b0cf38d55 > .fl-module-content {margin-top: 0px;}
.fl-node-584b2164ccb53 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.toc ul {list-style: none;font-size: 18px;line-height: 1.75em;font-weight: bold;padding-left: 0;}
.toc ul small {font-weight: normal;}
.toc ul ul {padding-left: 10px;margin-left: 0px;font-size: 14px;font-weight: normal;}
.panel .list-group li a {position: relative;bottom: 5px;}