body {background-color: #efefef;}
.pricing-info {text-align: center;margin-top: 20px;font-size: 18px;}
#pricing-table-container .main-title {text-align: center;}
#pricing-table-container .pricing-tables {padding: 20px;}
#pricing-table-container .pricing-tables h1 {font-size: 48px;}
#pricing-table-container .pricing-tables .plan.first {border-bottom-left-radius: 4px;border-top-left-radius: 4px;}
#pricing-table-container .pricing-tables .plan.last {border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
#pricing-table-container .pricing-tables .plan.recommended {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
#pricing-table-container .pricing-tables .plan.recommended .head {margin-bottom: 20px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
#pricing-table-container .pricing-tables.attached .col-sm-4, #pricing-table-container .pricing-tables.attached .col-md-4, #pricing-table-container .pricing-tables.attached .col-sm-3, #pricing-table-container .pricing-tables.attached .col-md-3 {padding-left: 0;padding-right: 0;}
#pricing-table-container .pricing-tables.attached .plan {border-radius: 0;}
#pricing-table-container .pricing-tables.attached .plan .head {border-radius: 0;}
#pricing-table-container .pricing-tables.attached .plan.recommended {border-radius: 4px;}
#pricing-table-container .pricing-tables.attached .plan.recommended .head {border-top-left-radius: 4px;border-top-right-radius: 4px;}
#pricing-table-container .pricing-tables.attached .plan.last {border-bottom-right-radius: 4px;}
#pricing-table-container .pricing-tables.attached .plan.last .head {border-top-right-radius: 4px;}
#pricing-table-container .pricing-tables.attached .plan.first {border-bottom-left-radius: 4px;}
#pricing-table-container .pricing-tables.attached .plan.first .head {border-top-left-radius: 4px;}
#pricing-table-container .plan {box-shadow: 0 2px 2px rgba(10,10,10,.06);min-height: 100px;background: #fff;border-radius: 4px;margin: 20px 0;padding-bottom: 25px;text-align: center;}
#pricing-table-container .plan .head {border-top-left-radius: 4px;border-top-right-radius: 4px;padding: 12px 16px;background: #1c1c1c;color: #fff;}
#pricing-table-container .plan .head h1, #pricing-table-container .plan .head h2, #pricing-table-container .plan .head h3 {padding: 0;margin: 0;font-weight: 100;}
#pricing-table-container .plan .price {border-top: 1px solid #eee;margin: 0 auto 30px auto;width: 84%;}
#pricing-table-container .plan .price h3 {font-size: 71px;vertical-align: top;line-height: 1;}
#pricing-table-container .plan .price h3 span {font-size: 38px;vertical-align: top;position: relative;margin: 6px 0 0 -7px;display: inline-block;}
#pricing-table-container .plan .price h4 {color: #aaa;font-size: 14px;}
#pricing-table-container .plan .btn {padding: 10px 30px;text-transform: uppercase;font-weight: 500;}
#pricing-table-container .plan ul {list-style-type: none;padding: 20px;margin-top: 2px;}
#pricing-table-container .plan ul li {line-height: 22px;margin-bottom: 15px;font-size: 18px;font-weight: 400;}
#pricing-table-container .plan ul li a {text-decoration: underline;color: #e6e9ed;}
#pricing-table-container .plan ul li:last-child {border-bottom: none;}
#pricing-table-container .plan ul strong {font-weight: 700;}
#pricing-table-container .plan.recommended {margin-top: 6px;box-shadow: 0 0 22px rgba(10,10,10,.42);position: relative;z-index: 10;border-radius: 4px;}
#pricing-table-container .plan.recommended .head {border-top-left-radius: 4px;border-top-right-radius: 4px;background: #171717;}
#pricing-table-container .plan.recommended .btn {margin-bottom: 10px;}
#pricing-table-container .pricing-tables .plan.enterprise .head {margin-bottom: 0;}
#pricing-table-container .pricing-tables .plan.enterprise .item-list {margin-bottom: 0;}
#pricing-table-container .pricing-tables .plan.enterprise .price {margin-bottom: 10px;}
@media (min-width: 768px) and (max-width: 991px) {#pricing-table-container .plan .price h3 {font-size: 58px;}}
@media (min-width: 768px) {#pricing-table-container .plan ul li {font-size: 14px;}}
@media (min-width: 1200px) {#pricing-table-container .pricing-tables .plan.enterprise {margin-top: 90px;}}